
<h1>Bienvenido a {{titulo}}</h1>

<p>Añadir marca</p>
<p>
    <input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()"/>
<input type="text"  [(ngModel)]="mi_marca" />
<button (click)="getMarca()">Mostrar marca</button>
<button (click)="addMarca()">Añadir marca</button>
</p>

<p>{{mi_marca}}</p>

<p>Compra las zapatillas de las mejores marcas</p>
    <ul>
        <li *ngFor="let marca of marcas; let indice = index">{{indice+" "+marca}}

            <button (click)=borrarMarca(indice)>Borrar marca</button>
            

        </li>
        
    </ul>

<p>Las deportivas que tenemos disponibles son: </p>
<ul>
    <li *ngFor="let deportiva of zapatillas"> 

        <span [ngStyle]="{'text-decoration': !deportiva.stock ? 'line-through' : none}">
        <!--<div *ngIf="deportiva.stock"></div>-->
        {{deportiva.nombre}} - <strong [class.altoprecio]="deportiva.precio >= 80"
                                       [ngClass]="{
                                                    'fondoRojo':deportiva.precio >= 100,
                                                    'subrayado':deportiva.marca=='nike'
                                                }"
            >{{deportiva.precio}} $</strong>
        </span>
        
        
        <span *ngIf="deportiva.precio < 80" 
        [style.background]="deportiva.precio < 80 ? 'green' : 'transparent'"
        [style.color]="deportiva.precio <  80 ? 'white' : 'black'"
        
        > En Oferta!</span>
    </li>
</ul>

<input type="text"  [(ngModel)]="color" />

<p>El color de la mayoria de las zapatillas es</p>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        <!--El color predominante es el <span style="background:yellow">amarillo</span>-->
        El color predominante es el <span [ngStyle]="{'background': color}">amarillo</span>
    </li>
    <li *ngSwitchCase="'red'">
        El color predominante es el <span [ngStyle]="{'background': color}">Rojo</span>
    </li>
    <li *ngSwitchCase="'blue'">
        El color predominante es el <span [ngStyle]="{'background': color}">azul</span>
    </li>
    <li *ngSwitchCase="'orange'">
        El color predominante es el <span [ngStyle]="{'background': color}">naranja</span>
    </li> 
</ul>
